<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/favicon.gif" type="image/gif">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Lobster+Two|Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/Exo_ASP_01.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-capitalize main-font-family">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="Ceci devrait être un logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="show-menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Destination
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Destination" asp-action="Index">
                                Liste des destinations
                            </a>
                            <a class="dropdown-item" asp-controller="Destination" asp-action="DestDuJour">
                                Destination du jour
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://google.com">Google</a>
                            <a class="dropdown-item" href="https://yahoo.fr">Yahoo</a>
                            <a class="dropdown-item" href="https://qwant.com">Qwant</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Liste contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <main role="main" class="flex-grow-1 pb-3 container">
        @RenderBody()
    </main>

    <footer class="noto-font-family">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <h3>Useful links</h3>
                        <ul class="text-capitalize">
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Contact">Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <h3>Find us</h3>
                        <p>
                            Rue du Bois Saint-Jean 17,<br>
                            4102 Seraing
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 form">
                        <h3>News letter (Spam)</h3>
                        <form>
                            <input type="email" placeholder="Email">
                            <input type="submit">
                        </form>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js" defer></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
